@model IEnumerable<DetailsModel>
@using Azure;
@{
    ViewData["Title"] = "Homepage";
    var searchInput = Context.Request.Query["searchInput"].ToString();
}
@using (Html.BeginForm("Homepage", "EMS", FormMethod.Get))
{
    <div class="container p-3">
        <div class="row pt-4 ">
            <div class="col-6">
                <h3>Employee Details</h3><br />
            </div>
            <div class="col-6 text-end">
                <a asp-controller="EMS" asp-action="Create" class="btn btn-success">+ Create new user</a>
                <a asp-controller="EMS" asp-action="RecycleBin" class="btn btn-primary">Recycle Bin</a>
                <a asp-action="ExportToExcel" class="btn btn-primary">Export to Excel</a>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="col-md-3" style="margin-right: 5px;">
                            <input type="text" name="searchInput" class="form-control" placeholder="Search..." value="@searchInput">
                        </div>
                        <div class="col-md-3" style="margin-right: 5px;">
                            <select name="filterDropdown" class="form-select">
                                @foreach (var option in (IEnumerable<SelectListItem>)ViewData["FilterDropdownOptions"])
                                {
                                    <option value="@option.Value" selected="@option.Selected">@option.Text</option>
                                }

                            </select>
                        </div>
                        <div class="col-md-3" style="margin-right: 5px;">
                            <select name="filterStatus" class="form-select">
                                @foreach (var option in (IEnumerable<SelectListItem>)ViewData["FilterStatusOptions"])
                                {
                                    <option value="@option.Value" selected="@option.Selected" )>@option.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="reset" class="btn btn-primary" onclick="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<div class="container p-3">
    <div class="row pt-4">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Employee Number</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Updated Date</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="20%">@obj.Sno</td>
                        <td width="20%">@obj.Empno</td>
                        <td width="20%">@obj.Name</td>
                        <td width="20%">@obj.Designation</td>
                        <td width="20%">@obj.UpdatedDate</td>
                        <td width="20%">@obj.Email</td>
                        <td width="20%">@obj.PhoneNumber</td>
                        <td width="20%">@(obj.Status ? "Active" : "Inactive")</td>
                        <td>
                            <a asp-controller="EMS" asp-action="ViewDetails" asp-route-id="@obj.Id">
                                <button class="btn btn-primary">View Details</button>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="EMS" asp-action="Edit" asp-route-id="@obj.Id">
                                <button class="btn btn-warning">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a asp-controller="EMS" asp-action="Delete" asp-route-id="@obj.Id">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br /><br />
    </div>
</div>
<script>
    function resetForm() {
        document.querySelector('form').reset();
        window.location.href = '/EMS/Homepage';
    }
</script>